@charset "UTF-8";
@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

/* ---------------------------------------------------------- */

:root {
    --black: #000000ff;
    --platinum: #e5e5e5ff;
    --baby-powder: #fdfffcff;
    --red-pantone: #ef233c;
    --main-gap: 30px;
}

body {
    background-color: #e71d36ff;
    font-family: Poppins;
}

#dashboard {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

aside {
    grid-row: 1 / -1;
    padding: 1em;
    background-color: var(--black);
    color: var(--baby-powder); 

    display: grid;
    grid-template-rows: 1fr 7fr;
    align-items: start;
}

header {
    padding: 1em 3em;
    background-color: var(--baby-powder);

    display: grid;
    grid-template-rows: 1fr 2fr;
    column-gap: 3em;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 2px 3px;
    position: relative;
}

main {
    padding: 1em 3em;
    background-color: var(--platinum);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-flow: column;
    gap: var(--main-gap);
}

/* Aside */

.side-options {
    display: grid;
    grid-template-columns: 1fr 6fr;
    column-gap: 0.5em;
    align-items: center;
    font-size: 1.2rem;
}

.side-options:hover {
    opacity: 80%;
    cursor: pointer;
}

#actions,
#help-actions {
    display: grid;
    row-gap: 1.5em;
}

#communities {
    margin-bottom: 3em;
}

#logo {
    display: grid;
    grid-template-columns: 48px 1fr;
    justify-items: center;
    font-size: 2rem;
    margin-bottom: 1.5em;
}

#logo > img {
    transition: transform .7s ease-in-out;
}

#logo > img:hover {
    transform: rotate(360deg);
}

#logo:hover,
img:hover {
    cursor: pointer;
}

/* Header */

#top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
}

#bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
}

#search {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2em;
}

#search > input {
    width: 100%;
    border: none;
    border-radius: 25px;
    outline-color: var(--black);
    background-color: var(--platinum);
    padding-left: 10px;
}

#search > input:focus {
    caret-color: transparent;
}

#profile > #user-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--red-pantone);
    overflow: hidden;
}

#profile > #user-name,
#profile > #user-name:hover {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

#welcome-user {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    column-gap: 1em;
}

#welcome-user > #user-pic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--red-pantone);
    overflow: hidden;
}

#welcome-message {
    font-weight: 600;
    font-size: 1.3rem;
}

#btns {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 2em;
}

#btns > button {
    background-color: var(--black);
    color: var(--baby-powder);
    width: 124px;
    height: 48px;

    border: none;
    border-radius: 25px;
    font-size: 1.1rem;

    transition: .2s ease-in-out;
}

#btns > button:hover {
    cursor: pointer;
    transform:scale(0.95);
}

#btns > button:active {
    transform: scale(0.90);
}

#btns > #share {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#btns > #upload {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#btns > #new {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Main */

.vertical-card,
.horizontal-card {
    background-color: var(--baby-powder);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 2px 3px;
    transition: .1s ease-in-out;
}

.horizontal-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.vertical-card > div > p {
    color: rgb(97, 97, 97);
    font-weight: 500;
}

/* Main-Left */

#main-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr 1fr 1fr;
    row-gap: 10px;
}

#main-left > h2 {
    grid-column: 1 / -1;
}

#main-left > #cards {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--main-gap);
}

.horizontal-card {
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 2fr 1fr;
}

.horizontal-card > .side-color {
    background-color: var(--red-pantone);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.horizontal-card > .content,
.horizontal-card > a > .content {
    height: min-content;
    padding: 2em 1em 0 1em;
}

.horizontal-card > a {
    text-decoration: none;
    color: var(--black);
}

.horizontal-card > .card-icons {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    align-self: end;
    justify-content: flex-end;
    column-gap: 1em;
    height: min-content;
}

.horizontal-card > .card-icons > img,
.horizontal-card > .card-icons > a {
    transition: .2s ease-in-out;
}

.horizontal-card > .card-icons > img:hover,
.horizontal-card > .card-icons > a:hover {
    transform: scale(1.3);
}

/* Main-Right */

#main-right {
    grid-column: -2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: var(--main-gap);
}

#main-right > #announcements {
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 10px;
}

#main-right > #trending {
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 10px;
}

#announcements > .vertical-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    align-content: space-around;

    row-gap: 10px;
    font-size: 0.8rem;
    padding: 1.5em;
}

.vertical-card > hr {
    border: 1px solid var(--platinum);
}

#trending > .vertical-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;

    gap: 10px;
    font-size: 0.8rem;
    padding: 1.5em;
}

.vertical-card > .text {
    grid-column: 2 / -1;
}

.vertical-card > .pic {
    width: 48px;
    height: 48px;
    justify-self: center;
    border-radius: 50%;
    background-color: var(--platinum);
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
}

.vertical-card > .pic:nth-child(1) {
    background-color: var(--baby-powder);
}

.vertical-card > .pic:nth-child(3) {
    background-color: #8338ec;
}

.vertical-card > .pic:nth-child(5) {
    background-color: #3a86ff;
}

.vertical-card > .pic:nth-child(7) {
    background-color: var(--baby-powder);
}

.text > span {
    font-weight: 600;
}